main {
    margin-left: 360px;
    margin-right: 360px;
}
header{
    border: 2px solid yellow;
    text-align: center;
}



.pups{
    text-align: center;
    background-color: yellow;
    color: black;
}
.first{
background-color: gray;
display: inline-block;
vertical-align:top;
width:320px;
height: 320px;
}
.second{
    background-color: gray;
    display: inline-block;
    vertical-align:top;
    width:280px;
    margin-left: 80px;
    margin-right: 80px;
    height: 320px;
    }
.third{
    background-color: gray;
    display: inline-block;
    vertical-align:top;
    width:320px;
    height: 320px;
    }
.titler1{
    background-color: green;
    width: 685px;
    text-align: left;
}
.dva{
    margin-left:80px;
    margin-right: 80px;
}
footer{background-color: red;
    text-align: center;
    color:black;
    border: 1px solid red;
}
.Jopa{
    width:240px;
    height: 200px;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
    margin-left: 80px;

}