body {
    margin: 10px 50px 20px;
    padding: 0px 0px 0%;
    font-family: "Times New Romans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
  }
  header{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Romans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #444444;}
    .right{
        
    }